In [1]:
#Introduction to list slicing

my_students = ['Rahul','Nilesh','Rohini','Suhana','Dinesh','Shruti']


# If you want the last two names:
print(my_students[4:6])

['Dinesh', 'Shruti']

In [16]:
#Enchancement of the code:
#If you want to get even no from 1-30 by using the concept of list data type:

#General syntax of range - range(startvalue,stopvalue,stepcount)

eve_num = list(range(2,30,2))
print(eve_num)

odd_num = list(range(3,30,2))
print(odd_num)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]
[3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29]

In [19]:
type(eve_num)
type(odd_num)

list

In [22]:
students = ['Rahul','Nilesh','Rohini','Suhana','Dinesh','Shruti','suyog']
print(students)


#requirement - I want to gte two people in a list here:

print(students[0:2])

['Rahul', 'Nilesh', 'Rohini', 'Suhana', 'Dinesh', 'Shruti', 'suyog']
['Rahul', 'Nilesh']

In [27]:
#now i want to get alternate names from the above list:

print(students[0:7:2])

print(students[0:7:3])

print(students[2:7:2])

['Rahul', 'Rohini', 'Dinesh', 'suyog']
['Rahul', 'Suhana', 'suyog']
['Rohini', 'Dinesh', 'suyog']

In [35]:
#Introduction to negative indexing:
print(students)

# -ve indexing will be starting from -1,-2,-3 & (+ve starts from 0)
#-ve indexing - start counting from right side (ulta) ****

print(students[-1])
print(students[-7])
print(students[-3])

['Rahul', 'Nilesh', 'Rohini', 'Suhana', 'Dinesh', 'Shruti', 'suyog']
suyog
Rahul
Dinesh

In [42]:
#How do you print above list in a reverse order by using concept of indexing (Important)
print(students[::-1])   #only : means it will consider start to 

print(students[::-3])

['suyog', 'Shruti', 'Dinesh', 'Suhana', 'Rohini', 'Nilesh', 'Rahul']
['suyog', 'Suhana', 'Rahul']